nav, nav a {
   color: var(--black-color);
   text-align: center;
}

#section {

    background-color: var(--section-color);
    padding: 2%;
    margin-top: 100px;
    margin-bottom: 50px; 
    border-radius: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

section p {
    color: var(--black-color);
    text-align: center;
    display:flexbox;

}

section h1 {
    text-align: center;
    margin-top: -1%;
    color: var(--primary-color);
}

section h2 {
    text-align: center;
    color: var(--primary-color);
    
}


#div-2 {
    text-align: center;
    margin-top: 30px;
}

body {
    background-color: var(--body-color);
}

footer p {
    text-align: center;
}

a:link {
    color: var(--black-color);
    margin: 2px;
    padding: 2px;
    background-color:var(--body-color);
    text-align:center;
    text-decoration: none; 
}

a:hover {
    color: var(--primary-color);
}

:root{
    --body-color: #dee2e6;
    --primary-color: #212529;
    --secunday-color: #495057;
    --section-color: #ced4da;
    --black-color:black;
}


.container {
    text-align: center;
    margin: 10px;
}

.img {
    max-width: 150px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

.lgs {
    padding-top: 10px;
    display: flex;
    justify-content:center;
}

.ptext {
    color: var(--black-color);
    text-align: center;
    margin-left:15%;
    margin-right:15%;
    display: flex;

}


